@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-dark: #1e1e1e;
    --primary-red: #e20912;
    --primary-red-hover: #ff000b;
    --primary-red-active: #cb050d;
    --primary-gray: #d9d9d9;
    --primary-gray-dark: #a5a5a5;
  }
}

html {
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 700;
}

html,
body {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 10.375rem;
}

/* Font Declaration */
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Black.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Black.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-BlackItalic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-BlackItalic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Bold.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Bold.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-BoldItalic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-ExtraThin.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-ExtraThin.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-ExtraThin.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-ExtraThinItalic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-ExtraThinItalic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-ExtraThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Light.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Light.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-LightItalic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-LightItalic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Medium.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Medium.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-MediumItalic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-MediumItalic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Regular.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Regular.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Italic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Italic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-Thin.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-Thin.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PFDinDisplayPro";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/PFDinDisplayPro-ThinItalic.woff2") format("woff2"),
    url("../fonts/PFDinDisplayPro-ThinItalic.woff") format("woff"),
    url("../fonts/PFDinDisplayPro-ThinItalic.ttf") format("truetype");
}

/* Font Declaration */

::selection {
  background: var(--primary-red);
  color: white;
  text-shadow: none;
}

/* Classes */
.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.narrow-text-mobile li {
}
.li {
  list-style-image: url("/images/bullet.svg");
  @apply pr-3 -mr-3;
}

.theme-border {
  border: 1px solid #f6f6f6;
}

.theme-button {
  @apply relative py-[0.9375rem] text-sm font-bold text-center text-white skew-x-[-8deg] bg-primary-red active:bg-primary-red-active hover:bg-primary-red-hover focus:bg-primary-red-hover px-[1.25rem] w-[11.2rem] inline-block duration-150;
}
.theme-button span {
  @apply skew-x-[8deg] inline-block;
}
.text-leader strong {
  @apply font-bold uppercase text-primary-red;
}
.theme-subheading {
  @apply pb-5 text-xl italic font-bold uppercase whitespace-pre-line md:text-4xl text-primary-dark md:pb-7;
}
.theme-heading {
  @apply pb-5 text-3xl italic font-bold leading-tight uppercase whitespace-pre-line md:text-6xl text-primary-dark;
}
.theme-heading-small {
  @apply text-2xl font-bold uppercase whitespace-pre-line text-primary-dark;
}
.theme-text {
  @apply text-base font-light whitespace-pre-line;
}
.nav-link {
  @apply text-white hover:text-white active:text-white focus:text-white;
}
footer .nav-link {
  @apply text-primary-gray-dark;
}
.nav-link.nav-active {
  @apply text-white;
}
.nav-link.nav-dark {
  @apply hover:text-primary-dark active:text-primary-dark focus:text-primary-dark text-primary-gray-dark;
}
.nav-link.nav-dark.nav-active {
  @apply text-primary-dark;
}
.nav-icon {
  @apply hover:fill-white active:fill-white focus:fill-white fill-white;
}
footer .nav-icon {
  @apply fill-primary-gray-dark;
}
.nav-icon.nav-active {
  @apply fill-white;
}
.nav-icon.nav-dark {
  @apply hover:fill-primary-dark active:fill-primary-dark focus:fill-primary-dark fill-primary-gray-dark;
}
.nav-icon.nav-dark.nav-active {
  @apply fill-primary-dark;
}
.page-container {
  width: 90%;
  max-width: 62.25rem;
  @apply pt-10 md:pt-32 md:pb-40 pb-16 mx-auto space-y-10 md:space-y-[7.5rem];
}
.page-container.full-width {
  width: 100%;
  max-width: 100%;
}
.header-height {
  height: 5.625rem;
}
.\!whitespace-initial {
  white-space: initial !important;
}
.default-container {
  @apply mx-auto max-w-[62.25rem];
}
.narrow-container {
  @apply mx-auto max-w-[36.875rem];
}
.narrow-container-margin {
  width: max(2.5vw, calc((100vw - 62.25rem) / 2));
  /* width: calc(110vw + min(calc(100vw * 0.9), calc(100vw - 62.25rem))); */
  /* max-width: calc(120rem + min(calc(100vw * 0.9), calc(100vw - 62.25rem))); */
  /* min-width: 150vw; */
}
.markdown-pre-line p {
  @apply whitespace-pre-line;
}
.narrow-text-mobile ul {
  max-width: 15.2rem;
}
/* .markdown-text {
  @apply space-y-3;
} */
.markdown-text a {
  @apply underline underline-offset-2;
}
.markdown-text.narrow-text-mobile ul {
  list-style: outside url("/images/Group 493 copy.svg");
  margin-left: 1.5rem;
  padding-right: 1rem;
}
.markdown-text.narrow-text-mobile ul:first-of-type {
  list-style-image: url("/images/Group 493.svg");
}

.prose:first-child {
  margin-top: 0 !important;
}
.prose a {
  font-weight: inherit !important;
}
.flex-around {
	display: flex;
	gap: 25px;
	justify-content: center;
}
.pb-5.flex-around a {
	background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
#modal .prose :is(:where(h1, h2, h3, h4, h5, h6, th):first-child) {
  margin-top: 0rem;
}

footer { 
  position: relative;
  z-index: 10;
}

.theme-border-red,
.theme-border-gray {
  position: relative;
}
.theme-border-gray::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.0625rem solid #f6f6f6;
  border-bottom: none;
}
.theme-border-red::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.125rem solid var(--primary-red);
}
.hover-theme-border-red:hover {
  @apply duration-200 cursor-pointer theme-border-red;
}
.page-container.wide {
  max-width: 75rem;
}

.bg-grey {
  background: #ECECEC;
}
.bg-dark-grey {
  background: #343434;
  color: #fff;
}
.d-block {
  display: block;
}
.direction-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.mb-14px {
  margin-bottom: 14px;
}
.grey-card {
  border-radius: 20px;
  padding: 60px 20px;
  text-align: center;
  position: relative;
}
.bg-grey:nth-child(2) {
  z-index: 2;
}
.bg-grey:nth-child(2)::before, .bg-grey:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 165px;
  height: 54px;
  background: url(/images/arrow.png) no-repeat 0 0;
}
.bg-grey:nth-child(2)::before {
  left: -86px;
}
.bg-grey:nth-child(2)::after {
  right: -103px;
  transform: scaleY(-1);
  top: 77px;
}
.cart-card {
  max-width: 250px;
  background: linear-gradient(180deg, #1D2225 49.98%, #4F1313 100%);
  color: #fff;
  padding-bottom: 30px;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: PFDinDisplayPro;
  text-align: center;
  position: relative;
}
.cart-card .label {
  position: absolute;
  right: 32px;
  top: 200px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #F00;
  font-size: 15px;
  line-height: 1;
  padding-top: 4px;
  font-weight: bold;
}
.cart-card img {
  margin-top: -100px;
}
.cart-card img + p {
  font-weight: bold;
  font-size: 24px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}
.cart-card > div {
  padding: 20px 30px;
  background: rgba(217, 217, 217, 0.15);
  margin-bottom: 15px;
}
.cart-card p.text-red {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.cart-card .flex {
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between;
}
.cart-card p.flex {
 font-weight: bold;
}
.cart-card p:last-child {
  margin-bottom: 0;
}
.dark-grey-card {
  border-radius: 20px;
  padding: 35px 40px;
}
.dark-grey-card img {
  margin-right: 15px;
}
.dark-grey-card a {
  white-space: nowrap;
}
.big-header {
  font-size: 65px;
  font-weight: 900;
  font-style: italic;
  color: #FF0000;
  line-height: 100%;
  margin-bottom: 30px;
}
.big-header > span {
  color: #000;
  display: block;
  font-size: 36px;
}
.big-header span span {
  font-size: 48px;
}
.text-huge {
  font-size: 36px;
  font-weight: 900;
}
.text-big {
  font-size: 28px;
  line-height: 122%;
}
.text-small {
  font-size: 16px;
  color: #868686;
}
.text-red {
  color: #F00;
}
.button-rounded {
  transform: none;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: .9375rem 0.738rem;
}
.hero-bron p {
  max-width: 730px;
}
.hero-bron .page-container img {
  margin-top: 14px;
  height: 36px;
}
.hero-bron .theme-button {
  width: 100%;
  max-width: 500px;
  font-size: 30px;
  line-height: 1.4;
  display: none;
}
.heroTwo-bron .w-full.h-full {
  background: rgba(0, 0, 0, 0.3);
}
.text-extra-huge {
  font-size: 50px;
  font-weight: 900;
}
.button-rounded.text-extra-huge {
  line-height: 1;
  max-width: 600px;
  border-radius: 50px;
  margin-top: 70px;
}
#header.landing, footer.landing { display: none; }

@media (hover: hover) and (pointer: fine) {
  .group:hover .group-hover-custom\:text-primary-dark {
    color: var(--primary-dark);
  }
  .group:hover .group-hover-custom\:opacity-0 {
    opacity: 0;
  }
  .group:hover .group-hover-custom\:opacity-100 {
    opacity: 1;
  }
}
@media (focus: focus) and (pointer: fine) {
  .group:focus .group-focus-custom\:text-primary-dark {
    color: var(--primary-dark);
  }
  .group:focus .group-focus-custom\:opacity-0 {
    opacity: 0;
  }
  .group:focus .group-focus-custom\:opacity-100 {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .header-height {
    height: 4.375rem;
  }
  .page-container.full-width,
  .page-container {
    width: 95%;
  }
  .narrow-text-mobile ul {
    max-width: none;
  }
  .md\:justify-space-between {
    justify-content: space-between;
  }
  .md\:direction-row {
    flex-direction: row;
  }
  .md\:pb-110 {
    padding-bottom: 110px !important;
  }
  .md:\mb-0 {
    margin-bottom: 0;
  }
  .md\:aspect-\[1\.8\] {
    aspect-ratio: 1.8;
  }
}
@media (min-width: 1280px) {
  .page-container.full-width,
  .page-container {
    width: 90%;
  }
}
.w-screen {
    width: 100% !important;
}
h1.prokatnye-karty {
    z-index: 1;
    color: #fff;
    position: absolute;
    bottom: 65vh;
    font-size: 68px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}
@media(max-width:768px){
    h1.prokatnye-karty{
        font-size:38px;
        bottom:unset;
        position:relative;
    }
    .aspect-square.hero-bron, .aspect-square.hero-bron + section.aspect-square {
      aspect-ratio: 1/1.25;
    }
    .hero-bron > div > div > div {
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
    }
    .hero-bron .page-container {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
    .hero-bron p {
      font-size: 20px;
    }
    .hero-bron .theme-button {
      font-size: 19px;
    }
    .hero-bron .page-container img {
      margin: 5px 8px 8px;
    }
    .grey-card {
      padding: 40px 20px;
      min-height: 250px;
    }
    .bg-grey:nth-child(2)::after, .bg-grey:nth-child(2)::before {
      background-image: url(/images/arrow-mob.png);
      width: 70px;
      height: 102px;
    }
    .bg-grey:nth-child(2)::before {
      left: 81%;
      top: -63px;
    }
    .bg-grey:nth-child(2)::after {
      right: 81%;
      top: 93%;
      transform: scaleX(-1);
    }
    .dark-grey-card {
      padding: 20px;
    }
    .dark-grey-card img {
      max-width: 60px;
    }
    .cart-card {
      margin-top: 100px;
    }
    .big-header {
      font-size: 30px;
      margin-bottom: 20px;
      line-height: 1;
    }
    .big-header > span {
      font-size: 24px;
    }
    .big-header span span {
      font-size: 40px;
    }
    .text-big {
      font-size: 26px;
    }
    .text-huge {
      font-size: 20px;
      padding-top: 20px;
    }
    .text-extra-huge {
      font-size: 29px;
    }
    .button-rounded.text-extra-huge {
      margin-top: 40px;
    }
}
